.users {
  text-align: center;
}

.users_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* строго 5 колонок */
  gap: 16px;
  padding: 16px;
}

.add {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: var(--color-primary-light);
}
