.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-accent);
}

.nav {
  margin-top: 15px;
  margin-bottom: 30px;
}

.link {
  color: #919191;
  padding: 0 20px;
}

.active {
  color: var(--color-accent);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
